@charset "UTF-8";
@font-face {
  font-family: 'LifehackMedium';
  src: url("../fonts/LifehackMedium.eot");
  src: url("../fonts/LifehackMedium.eot") format("embedded-opentype"), url("../fonts/LifehackMedium.woff2") format("woff2"), url("../fonts/LifehackMedium.woff") format("woff"), url("../fonts/LifehackMedium.ttf") format("truetype"), url("../fonts/LifehackMedium.svg#LifehackMedium") format("svg"); }

@font-face {
  font-family: 'GagalinRegular';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/GagalinRegular.woff");
  src: url("../fonts/GagalinRegular.eot") format("embedded-opentype"), url("../fonts/GagalinRegular.woff2") format("woff2"), url("../fonts/GagalinRegular.woff") format("woff"), url("../fonts/GagalinRegular.ttf") format("truetype"), url("../fonts/GagalinRegular.svg#GagalinRegular") format("svg"); }

@font-face {
  font-family: 'UbuntuB';
  src: url("../fonts/UbuntuB.eot");
  src: url("../fonts/UbuntuB.eot") format("embedded-opentype"), url("../fonts/UbuntuB.woff2") format("woff2"), url("../fonts/UbuntuB.woff") format("woff"), url("../fonts/UbuntuB.ttf") format("truetype"), url("../fonts/UbuntuB.svg#UbuntuB") format("svg"); }

@font-face {
  font-family: 'UbuntuMedium';
  src: url("../fonts/UbuntuMedium.eot");
  src: url("../fonts/UbuntuMedium.eot") format("embedded-opentype"), url("../fonts/UbuntuMedium.woff2") format("woff2"), url("../fonts/UbuntuMedium.woff") format("woff"), url("../fonts/UbuntuMedium.ttf") format("truetype"), url("../fonts/UbuntuMedium.svg#UbuntuMedium") format("svg"); }

@font-face {
  font-family: 'UbuntuRegular';
  src: url("../fonts/UbuntuRegular.eot");
  src: url("../fonts/UbuntuRegular.eot") format("embedded-opentype"), url("../fonts/UbuntuRegular.woff2") format("woff2"), url("../fonts/UbuntuRegular.woff") format("woff"), url("../fonts/UbuntuRegular.ttf") format("truetype"), url("../fonts/UbuntuRegular.svg#UbuntuRegular") format("svg"); }

@font-face {
  font-family: 'UbuntuLight';
  src: url("../fonts/UbuntuLight.eot");
  src: url("../fonts/UbuntuLight.eot") format("embedded-opentype"), url("../fonts/UbuntuLight.woff2") format("woff2"), url("../fonts/UbuntuLight.woff") format("woff"), url("../fonts/UbuntuLight.ttf") format("truetype"), url("../fonts/UbuntuLight.svg#UbuntuLight") format("svg"); }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

section {
  height: 100vh;
  min-height: 650px; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  position: relative; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none;
    margin: 0;
    padding: 0; }

p {
  padding: 0;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

footer {
  position: relative;
  width: 100%; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  position: relative;
  max-width: 960px;
  margin: 0 auto; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%; }

.title {
  font-size: 72px;
  margin: 0;
  text-transform: uppercase;
  font-family: 'GagalinRegular' , Helvetica , sans-serif;
  font-weight: normal; }

.header {
  height: 100vh;
  background-image: url("../img/video-bg.png");
  background-size: cover;
  min-height: 650px; }
  .header .container {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    height: 100%; }
    .header .container .header__logo, .header .container .header__nav {
      float: left; }
    .header .container .header__top:after, .header .container .header__top:before {
      display: table;
      content: ""; }
    .header .container .header__top:after {
      clear: both; }
    .header .container .header__logo {
      width: 20%; }
      .header .container .header__logo .logo {
        display: inline-block; }
      .header .container .header__logo .logo__pic {
        margin-top: 10px;
        max-width: 98.265px;
        max-height: 74.317px;
        display: block; }
    .header .container .header__nav {
      width: 75%;
      padding-top: 33px;
      font-size: 13px; }
      .header .container .header__nav .nav {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        .header .container .header__nav .nav .nav__item {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          font-size: 0.8125rem;
          font-weight: 500;
          text-transform: uppercase;
          color: #ffffff;
          vertical-align: middle; }
          .header .container .header__nav .nav .nav__item:hover {
            text-decoration: underline; }
          .header .container .header__nav .nav .nav__item:after {
            display: block;
            content: "";
            vertical-align: middle;
            width: 0.3125rem;
            height: 0.3125rem;
            border-radius: 0.15625rem;
            background: white;
            margin-left: 1.1875rem;
            margin-right: 1.1875rem; }
          .header .container .header__nav .nav .nav__item:nth-last-child(2):after {
            content: none; }
          .header .container .header__nav .nav .nav__item:nth-last-child(2) {
            margin-right: 0.75rem; }
        .header .container .header__nav .nav .nav__link {
          text-decoration: none;
          text-transform: uppercase;
          color: white;
          font-size: 13px;
          font-family: 'UbuntuMedium' , Helvetica , sans-serif; }
        .header .container .header__nav .nav .order-btn {
          display: inline-block;
          text-decoration: none;
          padding: 10px;
          background-color: #e45028;
          width: 100px;
          height: 35px;
          border-radius: 5px;
          border: none;
          outline: none;
          cursor: pointer; }
          .header .container .header__nav .nav .order-btn:hover {
            background-color: #c1401e; }
    .header .container .header__content {
      position: relative;
      height: 75%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .header .container .header__content .header__content-left .header_burger {
        display: block;
        max-width: 100%;
        padding: 0; }
      .header .container .header__content .header__content-right {
        vertical-align: middle;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: 10px; }
        .header .container .header__content .header__content-right .header__title {
          color: #f9b43b;
          margin-bottom: 1.875rem; }
        .header .container .header__content .header__content-right .header__title-text {
          margin-left: 1.875rem;
          color: #fff;
          line-height: 1;
          font-family: 'LifehackMedium' , Helvetica , sans-serif;
          font-size: 65px;
          text-transform: lowercase; }
    .header .container .header__arrow {
      left: 50%;
      position: absolute;
      display: block;
      bottom: 40px; }
      .header .container .header__arrow .arrow {
        display: block; }

.screen-switcher {
  position: fixed;
  top: 90px;
  right: 50px; }
  .screen-switcher__items {
    list-style: none;
    margin: 0;
    padding: 0; }
  .screen-switcher__item {
    margin-bottom: 5px; }
  .screen-switcher__link {
    display: block;
    position: relative;
    width: 14px;
    height: 14px;
    border: 1px solid transparent;
    border-radius: 50%;
    font-size: 0; }
    .screen-switcher__link--active {
      border: 1px solid #f9fafa; }
    .screen-switcher__link::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 4px;
      height: 4px;
      background-color: #fff;
      border-radius: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.icon {
  display: block;
  margin: 0 auto; }

.best {
  background-image: url("../img/best-bg.png");
  background-size: cover; }
  .best:after, .best:before {
    display: table;
    content: ""; }
  .best:after {
    clear: both; }
  .best .container {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    height: 100%; }
    .best .container .wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100%; }
      .best .container .wrap:after, .best .container .wrap:before {
        display: table;
        content: ""; }
      .best .container .wrap:after {
        clear: both; }
    .best .container .best__title-text {
      color: #2f3234;
      text-align: center;
      margin-bottom: 9%; }
    .best .container .best__list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .best .container .best__list img {
        display: block;
        margin: 0 auto; }
      .best .container .best__list .best__title {
        font-family: 'LifehackMedium' , Helvetica , sans-serif;
        font-size: 24px;
        text-align: center;
        color: #2f3234; }
      .best .container .best__list .best__description {
        font-family: 'UbuntuMedium' , Helvetica , sans-serif;
        font-size: 14px;
        color: #696868;
        line-height: 1.5;
        text-align: center; }

.reviews__group {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .reviews__group .reviews__box {
    min-width: 15.625rem;
    min-height: 18.75rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-filter: saturate(0%);
    filter: saturate(0%);
    -webkit-box-flex: 5;
    -webkit-flex-grow: 5;
    -ms-flex-positive: 5;
    flex-grow: 5;
    width: 25%;
    height: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .reviews__group .reviews__box:hover .reviews__content {
      opacity: 1;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      width: 100%;
      height: 100%;
      background: rgba(80, 80, 80, 0.7); }
      .reviews__group .reviews__box:hover .reviews__content:after, .reviews__group .reviews__box:hover .reviews__content:before {
        display: table;
        content: ""; }
      .reviews__group .reviews__box:hover .reviews__content:after {
        clear: both; }
    .reviews__group .reviews__box .reviews__content {
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      padding-top: 3.125rem;
      padding-left: 0.625rem;
      opacity: 0; }
      .reviews__group .reviews__box .reviews__content .reviews__name {
        text-transform: uppercase;
        font-family: 'GagalinRegular' , Helvetica , sans-serif;
        font-weight: normal;
        color: white;
        font-size: 14px;
        margin-left: 1.25rem; }
      .reviews__group .reviews__box .reviews__content .reviews__text {
        font-family: 'UbuntuMedium' , Helvetica , sans-serif;
        color: white;
        font-size: 14px;
        text-align: left;
        line-height: 1.6;
        margin-left: 1.25rem;
        padding-right: 0.625rem; }
      .reviews__group .reviews__box .reviews__content .reviews__btn {
        margin-top: 0.625rem;
        font-family: 'UbuntuMedium' , Helvetica , sans-serif;
        font-size: 14px;
        padding: 13px;
        background-color: #2f3234;
        text-transform: uppercase;
        color: white;
        border-radius: 5px;
        border: none;
        outline: none;
        margin-left: 1.25rem; }
        .reviews__group .reviews__box .reviews__content .reviews__btn:hover {
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          background-color: #1f2122;
          cursor: pointer; }

.team {
  background-image: url("../img/team-bg.png");
  background-size: cover;
  position: relative; }
  .team__container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    background: rgba(49, 52, 54, 0.8); }
    .team__container .team__wrap {
      height: 100%;
      margin-left: 5rem; }
      .team__container .team__wrap .team__title {
        margin-top: 5.625rem;
        color: #f9b43b;
        padding-bottom: 5.625rem; }
  .team__accordion .content-active .team__name.title {
    color: #f9b43b; }
  .team__accordion .content-active .team__name:before {
    content: "";
    position: absolute;
    /* Абсолютное позиционирование */
    left: -20px;
    bottom: 2px;
    /* Положение треугольника */
    border: 5px solid transparent;
    /* Прозрачные границы */
    border-bottom: 5px solid #f9b43b;
    /* Добавляем треугольник */ }
  .team__accordion .content-active .team__content {
    overflow: visible;
    height: 100%; }
  .team__accordion .team__tab {
    margin-top: 1.25rem;
    cursor: pointer; }
    .team__accordion .team__tab .team__name {
      font-size: 14px;
      color: #ffffff;
      position: relative;
      text-decoration: none; }
      .team__accordion .team__tab .team__name:hover {
        color: #f9b43b; }
  .team__accordion .team__name:before {
    content: "";
    position: absolute;
    /* Абсолютное позиционирование */
    left: -20px;
    bottom: 2px;
    /* Положение треугольника */
    border: 5px solid transparent;
    /* Прозрачные границы */
    border-top: 5px solid #f9b43b;
    /* Добавляем треугольник */ }
  .team__accordion .team__content {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    min-width: 16.25rem; }
    .team__accordion .team__content-name {
      font-size: 14px;
      font-family: 'UbuntuMedium' , Helvetica , sans-serif; }
    .team__accordion .team__content-maintext {
      margin-left: 1.875rem;
      margin-top: 15px;
      max-width: 14.6875rem; }
      .team__accordion .team__content-maintext .team__content-name {
        font-family: 'UbuntuB' , Helvetica , sans-serif;
        color: white;
        margin-top: -10px; }
      .team__accordion .team__content-maintext .team__content-text {
        margin-top: 10px;
        font-family: 'UbuntuLight' , Helvetica , sans-serif;
        color: white;
        font-size: 14px; }
    .team__accordion .team__content .team__image {
      margin-top: 10px;
      border-radius: 50%; }

.order {
  background-image: url("../img/order-bg.png");
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .order__title {
    color: #f9b43b;
    text-align: center;
    margin-bottom: 5rem; }
  .order .form__block-title {
    color: white;
    font-family: 'UbuntuLight' , Helvetica , sans-serif;
    font-size: 14px;
    display: block; }
  .order .form__content {
    width: 50%; }
  .order .form__input {
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 100%; }
  .order .form__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px; }
  .order .form__block {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 20px; }
    .order .form__block:last-child {
      margin-right: 0; }

/*# sourceMappingURL=main.css.map */