//========MIXINS=============//
@mixin ubuntu($style: ubuntu) {
    @if $style == bold {
        font-family: 'UbuntuB';
    }
    @if $style == medium {
        font-family: 'UbuntuMedium';
    }
    @if $style == regular {
        font-family: 'UbuntuRegular';
    }
    @if $style == light {
        font-family: 'UbuntuLight';
    }
}
@mixin clearfix {
	&:after, &:before {
			display: table;
			content: "";
		} 
		&:after {
			clear: both;
		}
}
@mixin Lifehack($style: Lifehack) {
    @if $style == medium {
        font-family: 'LifehackMedium';
    }
}
@mixin Gagalin($style: Gagalin) {
    @if $style == medium {
        font-family: 'GagalinRegular';
    }
}
* {
	box-sizing: border-box;
}
html {
	width: 100%;
	height:100%;
}
body {
	width: 100%;
	height:100%;
}

ul {
	margin: 0;
	padding: 0;
	li {
		list-style: none; 
	}
}
p {
	padding: 0;
	margin: 0;
}

.wrapper {
			min-height: 100%;
			overflow: hidden;
			position: relative;
		}
//==========HEADER===========//
//==========NAVIGATION===========//
.header {
	height: 100vh;
	background-image: url("../img/video-bg.png") ;
	background-size: cover;
	min-height: 650px;
	.container {
		position: relative;
		max-width: 960px;
		margin: 0 auto;
		height:100%;
	.header__logo, .header__nav {
		float: left;
		
	}
	.header__top {
		@include clearfix;
	}
	.header__logo {
		width : 20%;
		.logo {
			display: inline-block;
		}
		.logo__pic {
			margin-top: 10px;
			margin-left: -10px;
			max-width:92px;
			max-height: 70px;
			display: block;
		}
	}
	.header__nav {
		width:75%;
		padding-top: 33px; 
		font-size: 13px;
		.nav {
			text-align: right;
				.nav_item {
				display: inline-block;
				&:hover {
					text-decoration: underline;
				}
			}

			.nav_item:after {
	display: inline-block;
    content: "";
    vertical-align: middle;
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 0.15625rem;
    background: white;
    margin: 0.875rem;
			}
			li.nav_item:after:nth-last-child {
				content: none;
			}

		.menu__link {
			text-decoration: none;
			text-transform: uppercase;
			color: white;
			font-size: 13px;
			@include ubuntu(medium); 

		}
		.order-btn {
			text-decoration: none;
			padding: 10px;
			background-color: #e45028;
			width: 100px;
			height:35px;
			border-radius: 5px;
			border: none;
			outline: none;
			cursor: pointer;
			vertical-align: baseline;

			&:hover {
				background-color: #c1401e;
			}
		}

		}
	}
	//==========SCROLL===========//
.screen-switcher {
  position: fixed;
  top: 90px;
  right: 50px;

 &__items {
    list-style: none;
    margin: 0;
    padding: 0;
  }

 &__item {
    margin-bottom: 5px;
  }

 &__link {
    display: block;
    position: relative;
    width: 14px;
    height: 14px;
    border: 1px solid transparent;
    border-radius: 50%;
    font-size: 0;

   &--active {
      border: 1px solid #f9fafa ;
    }

   &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 4px;
      height: 4px;
      background-color: #fff;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
	//==========CONTENT===========//
	.header__content {
		position: relative;
		.header__content-left {
			
			display: inline-block;
			.header_burger {
				margin-top: 20%;
				padding: 0;
			}
		}
		.header__content-right {
			vertical-align: top;
			display: inline-block;
			margin-left:10px;
			margin-top:20%;
			
			
			 .header_title {
			 	color: #f9b43b;
			 	font-size: 72px;
			 	line-height: 1.7;
			 	margin: 0;
			 	text-transform: uppercase;
			 	@include Gagalin(medium);
			 	}
			 .header_title-text {
			 	color: #fff;
			 	line-height: 1;
			 	@include Lifehack(medium);
			 	font-size: 65px;
			 	text-transform:lowercase;
			 	}
			 
		}
	}
	//==========ARROW===========//
		.header__arrow {
			left: 50%;
			position: absolute;
    		display: block;
    		bottom: 40px;
    		.arrow {
    			display: block;

    		}	
		}
	}

}
.best {
	@include clearfix;
	height: 100vh;
	background-image: url("../img/best-bg.png") ;
	background-size: cover;
	min-height: 650px;
	.container {
		position: relative;
		max-width: 960px;
		margin: 0 auto;
		height:100%;
		top:10%;
	 .best__title-text {
	 	text-align: center;
	 	font-size: 72px;
	 	color: #2f3234;
	 	@include Gagalin(medium);
		margin-bottom:9%;
	 }
	 .best__content {
	 	.best__content-fresh {
	 		width: 33.3%;
	 		float: left;

	 	}
	 	.best__content-handy {
			width: 33.3%;
			float: left;
	 	}
	 	.best__content-natural {
	 		width: 33.3%;
	 		float: left;
	 	}
	 	img {
	 		display: block;
	 		margin: 0 auto;

	 	}
	 	h3 {
	 		@include Lifehack(medium);
	 		font-size: 24px;
	 		text-align: center;
	 		color: #2f3234;

	 	}
	 	p {
	 		@include ubuntu(medium); 
	 		font-size: 14px;
			color: #696868;
			line-height: 1.5;
			text-align: center;
	 	}
	 }
	}
}

