* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative; }

.header {
  height: 100vh;
  background-image: url("../img/video-bg.png");
  background-size: cover;
  min-height: 650px; }
  .header .container {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    height: 100%; }
    .header .container .header__logo, .header .container .header__nav {
      float: left; }
    .header .container .header__top:after, .header .container .header__top:before {
      display: table;
      content: ""; }
    .header .container .header__top:after {
      clear: both; }
    .header .container .header__logo {
      width: 20%; }
      .header .container .header__logo .logo {
        display: inline-block; }
      .header .container .header__logo .logo__pic {
        margin-top: 10px;
        margin-left: -10px;
        max-width: 92px;
        max-height: 70px;
        display: block; }
    .header .container .header__nav {
      width: 75%;
      padding-top: 33px;
      font-size: 13px; }
      .header .container .header__nav .nav {
        text-align: right; }
        .header .container .header__nav .nav .nav_item {
          display: inline-block; }
          .header .container .header__nav .nav .nav_item:hover {
            text-decoration: underline; }
        .header .container .header__nav .nav .nav_item:after {
          display: inline-block;
          content: "";
          vertical-align: middle;
          width: 0.3125rem;
          height: 0.3125rem;
          border-radius: 0.15625rem;
          background: white;
          margin: 0.875rem; }
        .header .container .header__nav .nav li.nav_item:after:nth-last-child {
          content: none; }
        .header .container .header__nav .nav .menu__link {
          text-decoration: none;
          text-transform: uppercase;
          color: white;
          font-size: 13px;
          font-family: 'UbuntuMedium'; }
        .header .container .header__nav .nav .order-btn {
          text-decoration: none;
          padding: 10px;
          background-color: #e45028;
          width: 100px;
          height: 35px;
          border-radius: 5px;
          border: none;
          outline: none;
          cursor: pointer;
          vertical-align: baseline; }
          .header .container .header__nav .nav .order-btn:hover {
            background-color: #c1401e; }
    .header .container .screen-switcher {
      position: fixed;
      top: 90px;
      right: 50px; }
      .header .container .screen-switcher__items {
        list-style: none;
        margin: 0;
        padding: 0; }
      .header .container .screen-switcher__item {
        margin-bottom: 5px; }
      .header .container .screen-switcher__link {
        display: block;
        position: relative;
        width: 14px;
        height: 14px;
        border: 1px solid transparent;
        border-radius: 50%;
        font-size: 0; }
        .header .container .screen-switcher__link--active {
          border: 1px solid #f9fafa; }
        .header .container .screen-switcher__link::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 4px;
          height: 4px;
          background-color: #fff;
          border-radius: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
    .header .container .header__content {
      position: relative; }
      .header .container .header__content .header__content-left {
        display: inline-block; }
        .header .container .header__content .header__content-left .header_burger {
          margin-top: 20%;
          padding: 0; }
      .header .container .header__content .header__content-right {
        vertical-align: top;
        display: inline-block;
        margin-left: 10px;
        margin-top: 20%; }
        .header .container .header__content .header__content-right .header_title {
          color: #f9b43b;
          font-size: 72px;
          line-height: 1.7;
          margin: 0;
          text-transform: uppercase;
          font-family: 'GagalinRegular'; }
        .header .container .header__content .header__content-right .header_title-text {
          color: #fff;
          line-height: 1;
          font-family: 'LifehackMedium';
          font-size: 65px;
          text-transform: lowercase; }
    .header .container .header__arrow {
      left: 50%;
      position: absolute;
      display: block;
      bottom: 40px; }
      .header .container .header__arrow .arrow {
        display: block; }

.best {
  height: 100vh;
  background-image: url("../img/best-bg.png");
  background-size: cover;
  min-height: 650px; }
  .best:after, .best:before {
    display: table;
    content: ""; }
  .best:after {
    clear: both; }
  .best .container {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    height: 100%;
    top: 10%; }
    .best .container .best__title-text {
      text-align: center;
      font-size: 72px;
      color: #2f3234;
      font-family: 'GagalinRegular';
      margin-bottom: 9%; }
    .best .container .best__content .best__content-fresh {
      width: 33.3%;
      float: left; }
    .best .container .best__content .best__content-handy {
      width: 33.3%;
      float: left; }
    .best .container .best__content .best__content-natural {
      width: 33.3%;
      float: left; }
    .best .container .best__content img {
      display: block;
      margin: 0 auto; }
    .best .container .best__content h3 {
      font-family: 'LifehackMedium';
      font-size: 24px;
      text-align: center;
      color: #2f3234; }
    .best .container .best__content p {
      font-family: 'UbuntuMedium';
      font-size: 14px;
      color: #696868;
      line-height: 1.5;
      text-align: center; }
