
//Config
@import "config/_variables.scss";
@import "config/_mixins.scss";

// media 
@import "layout/_media.scss";

// resolutions 
$tablets: 768px;
$phones: 480px; 
$horizontal: 530px;

//Base
@import "layout/_fonts.scss";
@import "layout/_base.scss";
@import "layout/_adjustment.scss";

//sections
@import "section/_header.scss";
@import "section/_footer.scss";
@import "section/_scroll.scss";
@import "section/_section-best.scss";
@import "section/_section-reviews.scss";
@import "section/_section-team.scss";
@import "section/_section-menu.scss";
@import "section/_section-order.scss";
@import "section/_hamburger-menu.scss";
@import "section/_hide-menu.scss";
@import "section/_burger-slider.scss"

