.slider {
	position: relative;
	display: flex;
	align-items: center;
	background: #f9b33b;
	background: -moz-linear-gradient(top, #f9b33b 1%, #eb8c38 51%, #f9b33b 100%);
	background: -webkit-linear-gradient(top, #f9b33b 1%,#eb8c38 51%,#f9b33b 100%);
	background: linear-gradient(to bottom, #f9b33b 1%,#eb8c38 51%,#f9b33b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b33b', endColorstr='#f9b33b',GradientType=0 );
	.down__arrow-left {
		@include clearfix;
		cursor: pointer;
		position: absolute;
		left: 0.5%;
		top:50%;
		transform: rotate(90deg);
		z-index: 10;
	}
	.down__arrow-right {
		@include clearfix;
		cursor: pointer;
		position: absolute;
		right: 0.5%;
		top:50%;
		transform: rotate(-90deg);
		z-index:10;
	}
.container {
	position: relative;
		max-width: 960px;
		margin: 0 auto;
		height:100%;
		display: flex;
	justify-content: center;
	align-items: center;
	@include phones {
		    padding: 0px 10px;
	}

}
}
.slider__burger {
	overflow: hidden;
}
ul.burger__slider {
	transform: translate(0%);
	display:flex;
	flex-directon: row;
	justify-content: space-between;
	transition: all 0.3s;
	.burger__slide {
		.burger__left{
			img.burger__img {
				margin: 0 auto;
    display: block;
		@include tablets {
		max-width:rem(460px);
	}
	@include phones {
		max-width:rem(300px);
	}
	}
		}
	}
}
.burger__slide {
	min-width:100%;
	display: flex;
	justify-content: center;
	align-items: center;

	@include tablets {
		flex-direction: column;
	}
.burger__left {
	position: relative;
	width:100%;
	.burger__consist{
		padding:rem(10px) rem(20px);
		display:inline-block;
		background-color: #f08c33;
		border-radius:rem(5px);
		@include tablets {
		position: absolute;
		
		}
		@include phones {
			left:rem(5px);
			padding:rem(5px) rem(10px);
		}

		.burger__include {
			display:block;
			font-size: rem(14px);
			color:white;
		}
	}
	
	.burger__kkal {
		position:relative;
		opacity: 0.6;
		display:inline-block;
		@include tablets {
		position: absolute;
		top:0;
		right:0;
		}
		@include phones {
			
			right:0;
		}

		&:hover {
			opacity: 1;
		}
		&-number {
			text-align:center;
			position: absolute;
			left: rem(12px);
			top:rem(25px);
			font-size: 20px;
			color:white;
			@include tablets {
				top:rem(27px);
				left: rem(14px);
			}
			@include iphone {
				top: rem(24px);
				left:rem(8px);
				font-size: rem(15px);
				}
		}
		&-text {
			text-align:center;
			position: absolute;
			left: rem(15px);
			top:rem(60px);
			font-size: rem(20px);
			color:white;
			@include tablets {
				left: rem(18px);
				top:rem(65px);
				font-size: rem(14px);
			}
			@include iphone {
				top: rem(50px);
				left:rem(10px);
					font-size: rem(10px);
				}
				
			}
			.burger__kkal-img {
				@include iphone {
					margin-top:rem(10px);
					width: rem(40px);
				height: rem(40px);
				}
				
			}

	}
	.burger__modal {
		position: absolute;
		top: 0;
		left:rem(88px);
		display:none;
		@include tablets {
			
		}
		.ingred {
			background-color : rgba(255,255,255,.9);
			padding: rem(20px) rem(15px);
			border-radius: rem(5px);
			
			&_item {
				display:flex;
				margin-top: rem(10px);
				.ingred__desc {
					width:100%;
				display: flex;

				justify-content: space-between;
			}
				.ingred__title {
					
					@include ubuntu(medium);
					font-size: rem(14px);
					text-decoration: none;
					color: #3c3c3c;
					margin-left:rem(15px);
					

				}
				.ingred__lot {
					
					@include ubuntu(light);
					font-size: rem(14px);
					color: #3c3c3c;
					text-align: rigt;

				}
				img.ingred__img{
					width: rem(65px) !important;
				}
			}
		}
	}
}
.burger__right {
	@include tablets {
			text-align: center;
		}
	.burger__title {
		color: white;
		line-height: 1;
		margin-bottom: rem(20px);
		@include phones {
			padding: 0 rem(10px);
			font-size: rem(50px);
			
		}

	}
	.burger__desc {
		@include ubuntu(light);
		font-size: rem(14px);
		color: white;
		padding:rem(5px);
	}
	.burger__price {
		color:$btn;
		@include phones {
			font-size: rem(50px);
		}
	&-ruble {
		font-size: rem(30px);
		@include phones {
			font-size: rem(24px);
		}
	}
	}
	.burger__order {
		display: inline-block;
			text-decoration: none;
			padding: rem(10px);
			background-color: #e45028;
			width: rem(100px);
			height:rem(35px);
			border-radius: 5px;
			border: none;
			outline: none;
			cursor: pointer;
			@include ubuntu(medium);
			font-size: rem(13px);
			color:white;
			text-decoration: uppercase;
			margin-left:rem(40px);
			&:hover {
				background-color: #c1401e;
			}
	}
}
}