.footer {
	width:100%;
	height:rem(62px);
	background-image: url(../img/footer-bg.png);
	background-size: cover;
	.container{
		position: relative;
		max-width: 960px;
		margin: 0 auto;
		height:100%;
		.footer__nav {
			display:flex;
			margin-top:rem(-62px);
			justify-content: space-around;
			bottom:0;
			width:100%;
			height:100%;
			
			&-contacts {
				width:50%;
				display:flex;
				justify-content: flex-start;
				flex-direction: column;
				align-items: flex-start;
				vertical-align: middle;
				color:white;
				@include ubuntu(light);
				font-size: rem(14px);
				.adress {
					padding-bottom:rem(5px); 
				}
				.phone__link{
					text-decoration: none;
				}
				.phone {
					@include ubuntu(bold);
					color: $btn;
					font-size: rem(14px);
					margin-left: rem(15px);
				}
				.phone:before {
					content: '';
					background: url("../img/icons/phone.svg");
   position:absolute;
   left: 0px;
   margin-top:rem(3px);
   
   width:rem(10px);
   height:rem(11px);
   
				}
			}
			&-icons {
				width:50%;
				display:flex;
				justify-content: flex-end;
				align-items: center;
				vertical-align: middle;
				.icon {
					margin-right:rem(20px);
					width:rem(20px);
					height:rem(20px);
					fill:#575757;
					&:hover {
						fill: $white;
					}
				}
			}
		}
	}

}