.footer {
	width:100%;
	height:100vh;
	min-height:650px;
	background-image: url(../img/map-bg.png);
	background-size: cover;
	position: relative;
	.footer__block {
		width:90%;
		max-width:960px;
		margin: 0 auto;
		display:flex;
justify-content: space-around;
	
	}
	

		.footer__nav {
			position: absolute;
			bottom: 0;
			left:0;
			
			
			
			bottom:0;
			width:100%;
			background-color: rgba(0,0,0,.9);
			@include phones {
				flex-direction: column;
				justify-content: center;
				
			}
			.footer__contacts {
				
				display:flex;
				justify-content: flex-start;
				flex-direction: column;
				align-items: flex-start;
				vertical-align: middle;
				color:white;
				@include ubuntu(light);
				font-size: rem(14px);
				.adress {
					
					margin-top: 7px;
				}
				.phone__link{
					text-decoration: none;
				}
				.phone {
					@include ubuntu(bold);
					color: $btn;
					font-size: rem(14px);
					margin-left: rem(15px);
					position:relative;
				}
				.phone:before {
					content: '';
					background: url("../img/icons/phone.svg") center no-repeat;
					background-size:cover;
   position:absolute;
   left: -15px;
   margin-top:rem(3px);
   
   width:10px;
   height:11px;
   
				}
			}
			.footer__social {
				
				display:flex;
				justify-content: flex-end;
				align-items: center;
				vertical-align: middle;
				.footer__link {
					margin-right:rem(20px);
				}
				.icon {
					
					width:rem(20px);
					height:rem(20px);
					fill:#575757;
					&:hover {
						fill: $white;
					}
				}
			}
		}
	

}