.header {
	height: 100vh;
	background-image: url("../img/video-bg.png") ;
	background-size: cover;
	min-height: 650px;
	.container {
		position: relative;
		max-width: 960px;
		margin: 0 auto;
		height:100%;
	.header__logo, .header__nav {
		float: left;
		
	}
	.header__top {
		@include clearfix;
	}
	.header__logo {
		width : 20%;
		.logo {
			display: inline-block;
		}
		.logo__pic {
			margin-top: 10px;
			margin-left: -10px;
			max-width:92px;
			max-height: 70px;
			display: block;
		}
	}
	.header__nav {
		width:75%;
		padding-top: 33px; 
		font-size: 13px;
		.nav {
			text-align: right;
				.nav__item {
				display: inline-block;
    font-size: rem(13px);
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    vertical-align: middle;
    &:after {
        display: inline-block;
        content: "";
        vertical-align: middle;
        @include circle(rem(5px), white);
        margin: rem(14px);
    }
    &:nth-last-child(2):after{
       content: none;

    }
    &:nth-last-child(2) {
    	margin-right:rem(12px);
    	margin-top:-2px;
    }
			}

			
			
			

		.nav__link {
			text-decoration: none;
			text-transform: uppercase;
			color: white;
			font-size: 13px;
			@include ubuntu(medium); 


		}
		.order-btn {
			text-decoration: none;
			padding: 10px;
			background-color: #e45028;
			width: 100px;
			height:35px;
			border-radius: 5px;
			border: none;
			outline: none;
			cursor: pointer;
			vertical-align: baseline;

			&:hover {
				background-color: #c1401e;
			}
		}

		}
	}
	
	//==========CONTENT===========//
	.header__content {
		position: relative;
		height:70%;
		display: flex;
		align-items: center;
		.header__content-left {
			
			float:left;
			.header_burger {
				
				padding: 0;
			}
		}
		.header__content-right {
			vertical-align:middle;
			display: flex;
			align-items: center;
			flex-direction: column;

			margin-left:10px;
			
			
			
			 .header__title {
			 	color: #f9b43b;
			 	
			 	}
			 .header__title-text {
			 	color: #fff;
			 	line-height: 1;
			 	@include Lifehack(medium);
			 	font-size: 65px;
			 	text-transform:lowercase;
			 	}
			 
		}
	}
	//==========ARROW===========//
		.header__arrow {
			left: 50%;
			position: absolute;
    		display: block;
    		bottom: 40px;
    		.arrow {
    			display: block;

    		}	
		}
	}

}