.menu {
    background: url('../img/menu-bg.png') no-repeat; 
    background-size: cover; 
    background-position: 50%;
    position: relative;
}
.menu__container {
    display: flex;
    width: 100%;
    height: 100%;

}
.menu__space {
    flex: 1;
}

.section__title-menu {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    transform: translate(50%, 100%);
    @include phones {
        font-size: rem(50px);
        transform: translate(25%, 50%);
    }

}
.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
}


@each $menu in (meet, veget, diet) {
    .menu__subitle-#{$menu} {
        background: url("../img/#{$menu}.jpg") center center no-repeat;
        background-size: cover;     
        min-width: rem(80px);
        height: 100%;
 
        @include phones {
             min-width: rem(70px);
        }
      
     }
}
    .menu__item{
    display: flex;
    flex-direction: row;
    position: relative;
    z-index:2;
    width: 5rem;
    overflow: hidden;
    @include phones {
             width: 4rem;
        }


    &.active {
        .menu__desc {
            display: block;
             background-color: rgba(27, 27, 27, 0.81);
    background-blend-mode: multiply;
            
            
        }
        @include phones {
            position: absolute;
            width:100%;
            height:100%;
            z-index:10;
        }
    }
    
   
    &.active  .menu__link {
        color: $orange;

    }
}
.menu__link {
    display: flex;
    @include Gagalin(medium);
    font-size: rem(40px);
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    transform: translate(-36%) rotate(-90deg);
    white-space: nowrap;
    z-index: 100;
    text-decoration: none;
    color: white;
    cursor: pointer;
        &:hover {
    	color:$orange;
    }
    @include tablets {
        top: 80%;
    }
    @include phones {
        top: 60%;
    }

} 
.menu__desc {
   min-width: rem(540px);
   
   overflow: hidden;
    
    background-position: center;
    background-size: cover;
    background-color: rgba(27, 27, 27, 0.91);
    background-blend-mode: multiply;
    transition: all 0.3s linear;
 @include tablets {
    min-width: rem(340px);
 }
 @include horizontal {
    min-width: rem(280px);
 }
 @include phones {
    min-width: rem(380px);
 }
    
} 
.menu__text {
    @include ubuntu(medium);
    font-size: rem(14px);
    color: white;
    padding: rem(50px) rem(30px);
    line-height: rem(24px);
    margin: 0;
    
}
 .menu__item--1 {
    background-blend-mode: multiply;
    background-color: rgba(27, 27, 27, 0.91);
    .menu__desc {
        background: url('../img/meat-man.png') ;
        background-size: cover;
        background-position: center;

    }
}
 .menu__item--2 {
    background-blend-mode: multiply;
    .menu__desc {
        background: url('../img/vegan-man.png') ;
        background-size: cover;
        background-position: center;

    }
}
.menu__item--3 {
    background-blend-mode: multiply;
    .menu__desc {
        background: url('../img/diet-man.png') ;
        background-size: cover;
        background-position: center;

    }
}
