
@mixin ubuntu($style: ubuntu) {
    @if $style == bold {
        font-family: 'UbuntuB' , Helvetica , sans-serif;
    }
    @if $style == medium {
        font-family: 'UbuntuMedium' , Helvetica , sans-serif;
    }
    @if $style == regular {
        font-family: 'UbuntuRegular' , Helvetica , sans-serif;
    }
    @if $style == light {
        font-family: 'UbuntuLight' , Helvetica , sans-serif;
    }
}

@mixin circle($width, $color) {
    width: $width;
    height: $width;
    border-radius: $width/2;
    background: $color;
}

@function rem($px) {
    @return $px / 16px + 0rem;
}

@mixin Lifehack($style: Lifehack) {
    @if $style == medium {
        font-family: 'LifehackMedium' , Helvetica , sans-serif;
    }
}
@mixin Gagalin($style: Gagalin) {
    @if $style == medium {
        font-family: 'GagalinRegular' , Helvetica , sans-serif;
    }
}
@mixin clearfix {
	&:after, &:before {
			display: table;
			content: "";
		} 
		&:after {
			clear: both;
		}
}