.maincontent {
	height:100%;
	min-height:650px;
}
.wrapper {
			min-height: 100%;
			overflow: hidden;
			position: relative;
		}
.title {
	font-size: 72px;
	line-height: 1.7;
	margin: 0;
	text-transform: uppercase;
	@include Gagalin(medium);
	font-weight: normal;
}
.wrap {
	@include clearfix;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height:100%;
}