@font-face {
    font-family: 'LifehackMedium';
    src: url('../../fonts/LifehackMedium.eot');
    src: url('../../fonts/LifehackMedium.eot') format('embedded-opentype'),
         url('../../fonts/LifehackMedium.woff2') format('woff2'),
         url('../../fonts/LifehackMedium.woff') format('woff'),
         url('../../fonts/LifehackMedium.ttf') format('truetype'),
         url('../../fonts/LifehackMedium.svg#LifehackMedium') format('svg');
}
@font-face {
    font-family: 'GagalinRegular';
    font-weight: normal;
    font-style: normal;
    src: url('../../fonts/GagalinRegular.woff');
    src: url('../../fonts/GagalinRegular.eot') format('embedded-opentype'),
         url('../../fonts/GagalinRegular.woff2') format('woff2'),
         url('../../fonts/GagalinRegular.woff') format('woff'),
         url('../../fonts/GagalinRegular.ttf') format('truetype'),
         url('../../fonts/GagalinRegular.svg#GagalinRegular') format('svg');
}

@font-face {
    font-family: 'UbuntuB';
    src: url('../../fonts/UbuntuB.eot');
    src: url('../../fonts/UbuntuB.eot') format('embedded-opentype'),
         url('../../fonts/UbuntuB.woff2') format('woff2'),
         url('../../fonts/UbuntuB.woff') format('woff'),
         url('../../fonts/UbuntuB.ttf') format('truetype'),
         url('../../fonts/UbuntuB.svg#UbuntuB') format('svg');
}
@font-face {
    font-family: 'UbuntuMedium';
    src: url('../../fonts/UbuntuMedium.eot');
    src: url('../../fonts/UbuntuMedium.eot') format('embedded-opentype'),
         url('../../fonts/UbuntuMedium.woff2') format('woff2'),
         url('../../fonts/UbuntuMedium.woff') format('woff'),
         url('../../fonts/UbuntuMedium.ttf') format('truetype'),
         url('../../fonts/UbuntuMedium.svg#UbuntuMedium') format('svg');
}
@font-face {
    font-family: 'UbuntuRegular';
    src: url('../../fonts/UbuntuRegular.eot');
    src: url('../../fonts/UbuntuRegular.eot') format('embedded-opentype'),
         url('../../fonts/UbuntuRegular.woff2') format('woff2'),
         url('../../fonts/UbuntuRegular.woff') format('woff'),
         url('../../fonts/UbuntuRegular.ttf') format('truetype'),
         url('../../fonts/UbuntuRegular.svg#UbuntuRegular') format('svg');
}
@font-face {
    font-family: 'UbuntuLight';
    src: url('../../fonts/UbuntuLight.eot');
    src: url('../../fonts/UbuntuLight.eot') format('embedded-opentype'),
         url('../../fonts/UbuntuLight.woff2') format('woff2'),
         url('../../fonts/UbuntuLight.woff') format('woff'),
         url('../../fonts/UbuntuLight.ttf') format('truetype'),
         url('../../fonts/UbuntuLight.svg#UbuntuLight') format('svg');
}
